.navbar-brand {
	font-family: 'Lora', serif;
	font-size: 25pt;
	color: white !important;
}



.username {
	color: white;
	font-family: Whitney, sans-serif;
	font-size: 12pt;
	margin-top: 15px;
	float: right;
}

.sign-in-form {
	margin-top: 8px;
	color: white;
	float: right;
}

.form-control {
	border-radius: 1px !important;
	box-shadow: none;
}

button {
	border-radius: 1px !important;
}

.calendar {
	margin-top: 100px;
}

table {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

tr {
	padding: 0;
	border-bottom: 1px dotted #4c4c4c;

}

tr:nth-child(2) {
	border-top: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
}

td {
	text-align: left;
	vertical-align: top;
	padding-top: 5px;
	height: 120px;
	width: 120px;
}

.cke_top {
	background: white !important;
}

label {
}

.page-header {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 80px;
}

.urlinputbox {
	position: absolute;
	width: 400px;
	background-color: white;
	padding: 50px;
	display: none;
	
}

.eventFileTable {
	width: 80%;
}

.uploadform {
	width: 80%;
	margin: 0 auto;
	padding: 50px;
	margin-top: 0px;
}

.note_entry {
	height: 800px;
}

form .title {
	padding: 50px;
	display: inline-block;
}
form .title input {
	width: 200px;
	height: 25pt;

}

.title label {
	padding-right: 20px;
	font-size: 20pt;
	margin-top: 30px;
}

.fileUpload {
	padding: 50px;
}

.uploadform button {
text-align: center}