<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.png">

  <title>Starter Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Lora:700' rel='stylesheet' type='text/css'>
  <script src="//cdnjs.cloudflare.com/ajax/libs/ckeditor/4.2/ckeditor.js"></script>

</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        </button>
        <a class="navbar-brand" href="/">Chronicle</a>
      </div>
      {% if not name %}
      <div class="collapse navbar-collapse">

        <form class="form-inline sign-in-form" role="form" method='POST' action='/login'>
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail2">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email" name='email'>
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword2" >Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name='password'>
          </div>
          <button type="submit" class="btn btn-default">Sign in</button>
        </form>
      </div><!--/.nav-collapse -->
      {% endif %}

      {% if name %}
      <div class='username'> {{name}} :: <span id='icalImport'>Upload your Classes</span> </div>
      {% endif %}
    </div>

  </div>

  <div class="urlinputbox">
    <form>
      <input type="text">
      <button action="submit" id='icsimportbutton'></button>
    </form>
  </div>

  {% block content %}
  {% endblock %}



  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
  <script>
  
  $( document ).ready(function() {

    $('.calendar td').each(function(){
      var day = $(this).html()
      $(this).addClass(day)
    })

    $('.calendar td').each(function(){
      var day = $(this).html()
      $(this).addClass(day)
      $("#icalImport").on('click', function(event) {
        $('#icalImport').fadeIn()
      })

      $("#icsimportbutton").on('click', function(event) {
        var url = $("#icalImport input").val();
        $.post('/_ics_import', url, function(data) {
          if (data) {
            $('#icalImport').toggle();
          }
        });
      })
    })

    var events = [
    {% for event in events %}
    ["{{event[0]}}","{{event[1]}}"],
    {% endfor %}

    ];

    var test_array = []

    for (var x = 0; x < events.length; x++) {
       var year = events[x][1].split("-")[0]
       var month = events[x][1].split("-")[1]
       var day = events[x][1].split("-")[2]
       if (month==10) {
        if ( $('td' + " ." + events[x][0].split(" ")[0] + day) ){
           $('td.' + day).append("<div class="+ events[x][0].split(" ")[0] + day + " >" + events[x][0] + "</div>")

        }
       }

    }

    for (var x = 1; x < 32; x++) {
      var seen = {};
        $('td div').each(function() {
        var txt = $(this).text();
         if (seen[txt]) {
           $(this).remove();

         }
        else {
          seen[txt] = true;

        }
      });
    }

    console.log(events)
    

  });
  </script>
</body>
</html>
